/* Google Web Fonts CDN */
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap");

body {
  font-family: "Noto Sans KR", sans-serif;
  color: #fff;
  font-size: 15px;
  line-height: 1.5em;
  font-weight: 300;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(90deg, #dce35b, #45b649);
}
a {
  color: #222;
  text-decoration: none;
}

.gnb {
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.gnb a {
  /* border: 1px solid red; */
  width: 80px;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.gnb a:before, .gnb a:after {
    position: absolute;
    content: attr(data-link);
    width:100%;
    text-align: center;
    transition:0.3s;
}
.gnb a:before {
    top: 0;
    left:0;
}
.gnb a:after {
    top: 100%;
    left: 0;
    color:#45b649;
}
.gnb a:hover:before {
    top:-100%;
}
.gnb a:hover:after{
    top:0;
}
/* .gnb a span {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}
.gnb a span:nth-child(1) {
  top: 0;
  left: 0;
}
.gnb a span:nth-child(2) {
  top: 100%;
  left: 0;
  color: #45b649;
}

.gnb a:hover span:nth-child(1) {
  top: -100%;
}
.gnb a:hover span:nth-child(2) {
  top: 0%;
} */
