/* Google Web Fonts CDN */
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap");

/* Fontawesome 4.7 */
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

body {
  font-family: "Noto Sans KR", sans-serif;
  line-height: 1.5em;
  margin: 0;
  font-weight: 300;
}
a {
  text-decoration: none;
}
