body {
    color: black;
}
/* 인라인 */
a {
    color: black;
    text-decoration: none;
    border: 1px solid red;
    /* 너비, 높이 줘도 변화없다 */
    /* width: 300;
    height: 200; */
    /* 상하마진 안가진다. */
    margin: 50px;
    /* a의 인라인 요소를 display로 바꿀 수 있음 */
    display: inline-block;
    margin: 5px;
    width: 200px;
    border-radius: 5px;
    padding: 5px;
}

/* 블록 */
div {
    border: 1px solid red;
    height: 100px;
    /* width: 100%; == 이미 포함되어있는 속성*/
    margin: 50px;
}

/* 인라인 블록 */
img {
    border: 1px solid red;
    margin: 50px;
}