/* Google Web Fonts CDN */
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap");

/* Fontawesome 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 15px;
    line-height: 1.5em;
    font-weight: 300;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  a {
    text-decoration: none;
  }

.item {
    /* border: 1px solid red; */
    width: 300px;
    margin-bottom: 10px;
    position:relative;
}
.item input {
    border: 1px solid lightgray;
    height: 40px;
    width: inherit;
    border-radius: 5px;
    padding:10px;
    box-sizing: border-box;
    padding-left:40px;
    outline: none;
    transition: 0.3s
}
.item .fa {
    /* display: none; */
    position:absolute;
    width: 40px;
    top: 0;
    left: 0;
    color: gray;
    font-size: 24px;
    text-align: center;
    line-height: 40px;
}
/* 클릭시 실행 */
.item input:focus {
    border: 1px solid dodgerblue;
    box-shadow: 0 0 5px dodgerblue;
}
/* 인접한 .fa에 적용 */
.item input:focus + .fa {
    color:dodgerblue;
}
.item input:focus::placeholder {
    visibility: hidden;
}
